DATABASE_URL=postgres://<username>:<password>@localhost/kisumu_ruby_community

FORMSPREE_CONTACT_URL=https://formspree.io/f/<id>
FORMSPREE_PROPOSAL_URL=https://formspree.io/f/<id>

GITHUB_CLIENT_ID=<your_github_oauth_app_client_id>
GITHUB_CLIENT_SECRET=<your_github_oauth_app_client_secret>
ADMIN_GITHUB_USERNAME=<comma_separated_github_usernames> # This can accomodate more than one admin

SESSION_SECRET=<random_hex_string_min_64_chars>

RACK_ENV=production
SENTRY_DSN=https://<key>@o<org>.ingest.sentry.io/<project-id>

CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
