<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="icon" type="image/png" href="assets/logo/KRC-1.png" />
  
  <title>Kisumu Ruby Community</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet" />
  
  <link href="/style.css" rel="stylesheet" />
</head>

<body class="bg-gray-100 text-gray-900 pt-16 min-h-screen flex flex-col">

  <%= render("partials/header") %>

  <main class="p-6 flex-1">
    <%= yield %>
  </main>

  <%= render("partials/footer") %>

</body>
</html>